# .NET Core
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.ide
*.sln.docstates
*.sln.user

# Rider files
.idea/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.suo
*.userprefs
*.vscode/
*.dotCover
*.resharper
*.resharper.user

# NuGet
*.nuget.props
*.nuget.targets

# Windows image file caches
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
*.so
/.vs/OrganizandoTudo.Admin/FileContentIndex/a95c9f73-ac9b-4ebc-a970-9454445e478e.vsidx
/.vs/OrganizandoTudo.Admin/FileContentIndex/d3f2b7d5-98f7-4bf8-a2d1-c72b444261fe.vsidx
/.vs/OrganizandoTudo.Admin/FileContentIndex
/.vs/OrganizandoTudo.Admin/v17/DocumentLayout.json
/obj/Debug/net8.0/ref/OrganizandoTudo.Admin.dll
/obj/Debug/net8.0/refint/OrganizandoTudo.Admin.dll
/obj/Debug/net8.0/OrganizandoTudo.Admin.pdb
/obj/Debug/net8.0/OrganizandoTudo.Admin.dll
/obj/Debug/net8.0/OrganizandoTudo.Admin.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/OrganizandoTudo.Admin.AssemblyInfo.cs
/obj/Debug/net8.0/OrganizandoTudo.Admin.AssemblyInfoInputs.cache
/obj/Debug/net8.0/apphost.exe
/bin/Debug/net8.0/OrganizandoTudo.Admin.dll
/bin/Debug/net8.0/OrganizandoTudo.Admin.exe
/bin/Debug/net8.0/OrganizandoTudo.Admin.pdb
